<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles/style.css")}}">
    <title>Информация о пользователе</title>
</head>
<body>
    <div class="header">О себе</div>
    <div class="container">
        <div class="photo">
            <img id="avatar" src="{{user.image}}">
        </div>
        <div class="info">
            <h3 id="name">{{user.name}}</h2>
            <br>
            <p class="info-text"><b>Образование: </b>{{user.education}}</p>
            {% if user.age % 10 == 1 %}
                <p class="info-text"><b>Возраст: </b>{{user.age}} год</p>
            {% elif 2 <= user.age % 10 <= 4 %}
                <p class="info-text"><b>Возраст: </b>{{user.age}} года</p>
            {% else %}
                <p class="info-text"><b>Возраст: </b>{{user.age}} лет</p>
            {% endif %}
            <br>
            {% if user.developmentExperience % 10 == 1 %}
                <p class="info-text">Профессионально занимаюсь веб-разработкой {{user.developmentExperience}} год</p>
            {% elif 2 <= user.developmentExperience % 10 <= 4 %}
                <p class="info-text">Профессионально занимаюсь веб-разработкой {{user.developmentExperience}} года</p>
            {% else %}
                <p class="info-text">Профессионально занимаюсь веб-разработкой {{user.developmentExperience}} лет</p>
            {% endif %}
            <br>
            <p class="info-text">Готов(а) разработать для Вас сайт с индивидуальным дизайном быстро и качественно!</p>
        </div>
    </div>
</body>
</html>