<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Флаг</title>
</head>
<body>
    <h1 class="page-header">ФЛАГ РОССИИ</h1>
    <div class="flag-body">
        <div class="flag-white"></div>
        <div class="flag-blue"></div>
        <div class="flag-red"></div>
    </div>
    <p id="text">
        Флаг России (Госуда́рственный флаг Росси́йской Федера́ции) — один из официальных государственных символов Российской Федерации[4] наряду с Государственным гербом и Государственным гимном. 
        Представляет собой прямоугольное полотнище из трёх равновеликих горизонтальных полос: верхней — белого, средней — синего и нижней — красного цвета. Отношение ширины флага к его длине
        составляет 2:3
    </p>
</body>
</html>