.container {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    width: 950px;
}

.header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    color: #666666;
}

#error-text {
    text-align: center;
    margin: 400px auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    color: #666666;
}

#name {
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    color: #666666;
}

.info-text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    color: #666666;
}


#avatar {
    height: 300px;
    margin-right: 20px;
}